apiVersion: v1
kind: Pod
metadata:
  labels:
    io.kompose.service: rsbot
    # Put whatever labels you want
  name: rsbot
spec:
  containers:
    - name: rsbot
      image: krissrex/rs-bot
      env:
        - name: DISCORD_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: rsbot
              key: discord
        - name: WOLFRAM_ALPHA_APP_ID
          valueFrom:
            secretKeyRef:
              name: rsbot
              key: wolfram
